{% extends "layout.html" %}
{% block title %}Do Me{% endblock %}

{% block content %}
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-4">Do Me</h1>
    <p class="lead">Jackie's First Python Application</p>
    <p class="text">{{ repository_description }}</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>All Tasks</h2>
        <!--TODO{% if len(tasks) == 0 %}
        <p class="text">There are no tasks, hooray!</p>
        {% endif %}-->
        {% for task in tasks %}
          <div class="card" style="width: 18rem;">
            <!--<img src="https://via.placeholder.com/300" class="card-img-top" alt="A placeholder image">-->
            <div class="card-body">
              <h5 class="card-title">{{ task.name }}</h5>
              <p class="card-text">[{{ task.id }}]</p>
              <p class="card-text">{{ task.status }}</p>
            </div>
            <div class="card-body">
              {% if task.status == "To Do" %}                
                <form action="/change_status/{{task.id}}?status=Doing" method="POST" class="form-group">
                    <button type="submit" class="btn btn-primary">>> Doing</button>
                </form>
              {% endif %}
              {% if task.status == "Doing" %}                
                <form action="/change_status/{{task.id}}?status=Done" method="POST" class="form-group">
                    <button type="submit" class="btn btn-primary">>> Done</button>
                </form>
              {% endif %}
              <form action="/delete/{{task.id}}" method="POST" class="form-group">
                <button type="submit" class="btn btn-primary">Delete</button>
              </form>

            </div>
          </div>
        {% endfor %}
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <h2>Add New task</h2>
      <form action="/tasks" method="POST" class="form-group">
        <div class="form-group">
          <input type="text" class="form-control" name="task_name" id="task_name" placeholder="My Next Task">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
{% endblock %}