{% extends "layout.html" %}
{% block title %}Do Me{% endblock %}

{% block content %}
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-4">Do Me</h1>
    <p class="lead">Jackie's First Python Application</p>
    <p class="text">{{ view_model.repository_description }}</p>
  </div>

  <div class="row">
    <div class="col-sm" >
      <h2>To Do</h2>
        {% for task in view_model.ToDo %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ task.name }}</h5>
              <div class="btn-group" role="group" aria-label="Task Actions">                             
                <form action="/change_status/{{task.id}}?status=Doing" method="POST" class="form-group">
                    <button type="submit" class="btn btn-secondary">>> Doing</button>
                </form>                
                <form action="/delete/{{task.id}}" method="POST" class="form-group">
                  <button type="submit" class="btn btn-secondary btn-danger" >Delete</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col-sm" >
      <h2>Doing</h2>
        {% for task in view_model.Doing %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ task.name }}</h5>
              <div class="btn-group" role="group" aria-label="Task Actions">           
                <form action="/change_status/{{task.id}}?status=Done" method="POST" class="form-group">
                    <button type="submit" class="btn btn-secondary">>> Done</button>
                </form>
                <form action="/delete/{{task.id}}" method="POST" class="form-group">
                  <button type="submit" class="btn btn-secondary btn-danger" >Delete</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col-sm" >
      <h2>Done</h2>
        {% for task in view_model.Done %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ task.name }}</h5>
              <div class="btn-group" role="group" aria-label="Task Actions">
                <form action="/delete/{{task.id}}" method="POST" class="form-group">
                  <button type="submit" class="btn btn-secondary btn-danger" >Delete</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col-sm">
      <div class="container">
        <div class="row">
          <div class="col-sm" >
            <h2>Add a Task</h2>
            <form action="/tasks" method="POST" class="form-group">
              <div class="form-group">
                <input type="text" class="form-control" name="task_name" id="task_name" placeholder="My Next Task">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
  </div>
  
{% endblock %}