{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li> [{{ item.id }}] {{ item.title }} - {{ item.status }} 
              {% if item.status != "Done" %}
                <a href="{{ url_for('mark_as_done', itemId=item.id) }}">Done</a>              
              {% endif %}
              <a href="{{ url_for('delete', itemId=item.id) }}">Delete</a> 
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <h2>Add New Item</h2>
      <form action="/items" method="POST" class="form-group">
        <div class="form-group">
          <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp" placeholder="Title">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
{% endblock %}